@charset "utf-8";
html{ height:1%; }
body { background:#f2f2f2; font-family:"微软雅黑", "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体"; letter-spacing:1px; font-size:14px; color:#000; margin:0; padding:0; }
body input, body textarea, body button { font-family:"微软雅黑", "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体"; outline:none; }
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span, dl, dd, dt, ol, ul, li, table, th, td, tr, thead, tfoot, tbody { margin:0; padding:0; border:0; list-style:none; letter-spacing:1px; }
a { color:#02a6e9; text-decoration:none; }
a:hover { color:#0080c3; text-decoration:none; }
a:focus { outline:none; -moz-outline:none; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden }
.clearfix {display: inline-block;}
* html .clearfix { height:1%; }
.clearfix {display: block;}
.left { float:left; }
.right { float:right; }
.hand { cursor:pointer; }
.deft { cursor:default; }
.nom {margin:0}
.nop {padding:0}
.nob {border:0}
/*用于修饰性小图标*/
i { display:inline-block; font-style:normal; }
.i_icon{display: inline-block; width: 100%; height: 100%; overflow: hidden;}
/* Show or Hide */
.show { display:block }
.hide { display:none }
.hidden { visibility:hidden; }
.visible { visibility:visible; }
.white {background:#fff; width:100%}
.cross{ background:#fff; border:#d9d9d9 1px solid; border-left:0; border-right:0; width:100%; }
.container {width:1000px; margin: 0 auto;}
/* 公共头部 */
.header { width:100%; background:#4d4d4d; min-width:1000px;}
.header .login { width:1000px; margin:0 auto; height:42px; font-size:14px; line-height:42px; color:#7e7e7e; }
.header .login .login_list { float:right; height:42px; display:none;}
.header .login .login_list li { display:inline-block; font-size:12px; padding:0 15px; max-width:120px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; height:16px; line-height:16px; padding-top:-5px; text-align:center; border-right:1px solid #686868; margin-top:14px; *display:inline; *zoom:1;}
.header .login .login_list li.login_last { text-align:right; border:0; padding-right:0;}
.header .login .login_list li a { color:#b3b3b3; }
.header .login .login_list li a .i_num_tips{ display:block; margin:-15px 0 0 55px; background:url("../images/common.png") no-repeat 0 -58px; width:6px; height:6px; font-size:0;}
.header .h_nav { height:80px; width:1000px; margin: 0 auto; background:#fff;}
.header .h_nav .logo{ height:80px; width:194px; display:block; float:left; }
.header .h_nav .nav_list{ float:right; font-size:18px; text-align:right; line-height:80px; }
.header .h_nav .nav_list li { display:inline-block; width:70px; *display:inline; *zoom:1; }
.header .h_nav .nav_list li a{ color:#7e7e7e; }
.header .h_nav .nav_list li a.current{ color:#02a6e9; }
.header .h_nav .nav_list li a.current:hover{ color:#02a6e9; }
.header .h_nav .nav_list li a:hover{ color:#999; }
/*公共底部*/
.footer { background:#e8e8e8; width:100%; min-width:1000px;}
.footer ul { text-align:center; }
.footer ul li{ display:inline-block; min-width:80px; height:12px; line-height:12px; text-align:center; border-right:1px solid #c5c5c5; margin:30px 0 14px; *display:inline; *zoom:1; }
.footer ul li.email{ border:0; margin-left:20px;}
.footer ul li a { padding:0 10px; color:#000; }
.footer .copyright {text-align:center; font-size:12px; color:#888; padding-bottom:20px;}
.footer .copyright a { color:#888; }
/*错误页面*/
.container .error_pic{display:block; margin-top:100px;}
.container .back{display:block; margin:60px auto; background:#3aa6e4; color:#fff; font-size:20px; height:60px; line-height:60px; text-align:center; width:195px;}
/*公共组件*/
.input{ background-color:#fff; font-size:12px; border:solid 1px #dbdbdb; height:30px; line-height:30px; padding-left:5px;}
.input_focus{ border:solid 1px #26afeb !important; }
.input_error{ border:solid 1px #d94b38 !important; }
.textarea{ margin:0; font-size:12px; background-color:#fff; min-height:90px; border:solid 1px #dbdbdb; color:#000; line-height:22px; border-radius:2px; resize:none; padding:7px; word-break:break-all; word-wrap:break-word; }
.input:-ms-input-placeholder, .textarea:-ms-input-placeholder{ color:#aca899 }
.textarea_focus{ border:solid 1px #26afeb !important; }
.textarea_error{ border:solid 1px #d94b38 !important; }
.button {cursor:pointer; width:136px; height:40px; line-height:40px; color:#fff; font-size:14px; background:#32a5e7; border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px; }
.button_hover {background:#0fb1fa;}
.vdt_tip {font-size:12px; color:#ed6a60; line-height:28px; height:28px;}
.vdt_tip .txt-error{ color:#ed6a60 !important;}
.placeholder { color: #aaa; }
/*弹窗*/
/*nAlert,nConfirm*/
.mzBlockLayer{position:absolute;background-color: #000;left: 0px; top: 0px;width:100%;height:100%;overflow:hidden; opacity: 0.5;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;}
.mzdialog{background-color: white;-webkit-box-shadow:0px 0px 15px #141414;-moz-box-shadow:0px 0px 15px #141414;box-shadow:0px 0px 15px #141414;}
.mzdialogBtn{text-align: center;height: 45px;line-height: 45px;background-color: #F0F0F0;font-size: 14px;color: #4C4C4C;cursor: pointer;}
.mzdialog{height:250px;}
.alertDialog{ position: absolute; width: 100%; height: 100%; color: black; }
.alertDialogTitle{ background-color: #fafafa; color: black; height: 40px; width: 100%; overflow: hidden; position: relative;}
.alertDialogTitleTip{ font-size: 14px; line-height: 14px; margin-left: 20px; padding-top: 13px; padding-bottom: 13px; display: inline-block;}
.alertDialogClose{ outline: none; position: absolute; width: 30px; height: 30px; cursor: pointer; overflow: hidden; top: 5px; right: 10px; }
.alertDialogClose i:hover,.alertDialogClose i{ background: url("/resources/open/images/elements.png") no-repeat; _background-image: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/resources/open/images/elements.png'); background-position: -158px -123px; _margin-left: -158px; _margin-top: -123px; }
.alertDialogClose i{ background-position: -123px -123px; _margin-left: -123px; _margin-top: -123px; }
.alertDialogMain{ width: 360px; height: 90px; text-align: center; border-bottom: 1px solid #f2f2f2;  margin-top: 30px; margin-left: 30px; margin-right: 30px; }
.alertDialogMain span{ font-size: 14px; height: 44px; display: inline-block; text-align: center;}
.alertDialogContent{ width: 330px; margin-left: 15px; margin-right: 15px;}
.alertDialogBtnField{ margin-top: 20px; text-align: center; }
a.fullBtnBlue:hover{ background-color:#2b8cc5; color:#fff; }
a.fullBtnBlue{ display: inline-block; height: 50px; width: 342px; font-size: 20px; line-height: 50px; text-align: center; margin-bottom: 20px; *margin-bottom: 0; outline: none; cursor:pointer; background-color: #32a5e7; color: #fff; }
a.fullBtnGray{ display: inline-block; width: 156px; height: 50px; line-height: 50px; font-size: 20px; text-align: center; outline: none; cursor:pointer; background-color: #d9d9d9; color: #fff; }
a.fullBtnGray:hover{ background-color:#c3c3c3; color:#fff; }
a.conFDialogSure{ margin-right: 20px;  width: 156px; }
.dialog_warning{ color:#32a5e7;}
.dialog_error{ color:#ff7800;}
/*下拉框*/
.dropdown{ display:inline-block; height: 30px; text-align:left; padding-left:10px; margin:0; line-height: 30px; width: 140px; border: 1px solid #dadada; color: #7f7f7f; outline: none; font-size: 12px; vertical-align: middle; background:#fff; }
.dropdown:hover{color:#7f7f7f;}
.dropdown_arrow{width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #777; border-bottom:5px solid transparent; _border-bottom:5px solid black; _border-right:5px solid black; _border-left:5px solid black; _filter:chroma(color=black);  font-size: 0; line-height: 0; position:absolute; }
.dropdown_menu{margin:0; padding:0; max-height:200px; overflow-y:auto; border:#a6c1d7 solid 1px; border-top:0; background:#fff; box-shadow: 0 5px 10px #ccc; display:none;}
.dropdown_menu li{list-style:none; margin:0; padding:0; height:30px; line-height:30px; color:#333; background:#fff; text-align:left; padding-left:10px; cursor:pointer}
.dropdown_menu li.cursor{background:#f7f7f7;}
.dropdown_menu li.disable{ color : #bbb;}
/*单选复选框*/
.radio_unchk,.radio_chk,.check_chk i,.check_unchk i{ background:url(/resources/open/images/elements.png) no-repeat; _background-image: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/resources/open/images/elements.png');}
.radio_unchk{background-position:-75px 4px;}
.radio_chk{background-position:-47px 4px;}
.check_chk i{background-position: -31px -127px; _margin-left: -31px; _margin-top: -127px;}
.check_unchk i{background-position: -0px -127px; _margin-left: 0px; _margin-top: -127px;}
.radioPic{display:inline-block;width:25px;height:20px; line-height:20px;cursor:pointer;}
.checkboxPic{display:inline-block;width:25px;height:20px;line-height:20px;cursor:pointer;vertical-align: middle;overflow: hidden;}
/*文件上传*/
.file_upload { position: relative; overflow: hidden;display:block; width:88px; height:35px; font-size:14px; line-height:35px; text-align:center; color:#fff; background:#32a5e7; border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px; }
.file_upload_disable {background:#ccc; color:#777}
.file_upload input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; -ms-filter: 'alpha(opacity=0)'; font-size: 200px; direction: ltr; cursor: pointer; }
/* Fixes for IE < 8 */
@media screen\9 {.file_upload input { filter: alpha(opacity=0); font-size: 100%; height: 100%; }}
/*返回顶部*/
#scrollToTop{display:none;position:fixed; bottom:60px; right:300px; width:35px; height:44px; background-image:url(/resources/open/images/common.png); background-position:0 -133px;}
#scrollToTop:hover{background-position:-36px -133px;}


